---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__footer {
  margin-top: 0px;
}

.color-docker-blue {
  color: rgb(36, 150, 237);
}

.color-bible-brown {
  color: #663300;
}
